<a href="https://colab.research.google.com/github/shaimathamer/Data-anlysis/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pk=pd.read_csv('/content/drive/MyDrive/pokemon_data.csv')

In [2]:
pk.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [3]:
pk.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [4]:
pk.count

<bound method DataFrame.count of        #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]>

In [5]:
print(pk[1:3])

   #      Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
1  2   Ivysaur  Grass  Poison  ...       80     60           1      False
2  3  Venusaur  Grass  Poison  ...      100     80           1      False

[2 rows x 12 columns]

In [6]:
for index,row in pk.iterrows():
  if index==1:
    print(index,row)

1 #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [7]:
print(pk.loc[pk['Defense']==63])

       #       Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
1      2    Ivysaur     Grass  Poison  ...       80     60           1      False
319  295    Exploud    Normal     NaN  ...       73     68           3      False
571  512   Simisage     Grass     NaN  ...       63    101           5      False
573  514   Simisear      Fire     NaN  ...       63    101           5      False
575  516   Simipour     Water     NaN  ...       63    101           5      False
582  523  Zebstrika  Electric     NaN  ...       63    116           5      False
642  581     Swanna     Water  Flying  ...       63     98           5      False

[7 rows x 12 columns]

In [8]:
pk.sort_values(['HP','Type 1'], ascending = False)

       #       Name    Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
261  242    Blissey    Normal    NaN  ...      135     55           2      False
121  113    Chansey    Normal    NaN  ...      105     50           1      False
217  202  Wobbuffet   Psychic    NaN  ...       58     33           2      False
351  321    Wailord     Water    NaN  ...       45     60           3      False
655  594  Alomomola     Water    NaN  ...       45     65           5      False
..   ...        ...       ...    ...  ...      ...    ...         ...        ...
388  355    Duskull     Ghost    NaN  ...       90     25           3      False
186  172      Pichu  Electric    NaN  ...       35     60           2      False
230  213    Shuckle       Bug   Rock  ...      230      5           2      False
55    50    Diglett    Ground    NaN  ...       45     95           1      False
316  292   Shedinja       Bug  Ghost  ...       30     40           3      False

[800 rows x 12 columns]

In [9]:
pk.drop_duplicates

<bound method DataFrame.drop_duplicates of        #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]>

In [20]:
pk.rename(columns={'Type 1':'Kind'},inplace=True)
pk

       #                   Name     Kind  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [37]:
new_pk=pk.loc[(pk['Kind']=='Grass') & (pk['Type 2']=='Poison')]
new_pk.reset_index(inplace=True,drop=1,)
new_pk

      #                   Name   Kind  ... Speed  Generation  Legendary
0     1              Bulbasaur  Grass  ...    45           1      False
1     2                Ivysaur  Grass  ...    60           1      False
2     3               Venusaur  Grass  ...    80           1      False
3     3  VenusaurMega Venusaur  Grass  ...    80           1      False
4    43                 Oddish  Grass  ...    30           1      False
5    44                  Gloom  Grass  ...    40           1      False
6    45              Vileplume  Grass  ...    50           1      False
7    69             Bellsprout  Grass  ...    40           1      False
8    70             Weepinbell  Grass  ...    55           1      False
9    71             Victreebel  Grass  ...    70           1      False
10  315                Roselia  Grass  ...    65           3      False
11  406                  Budew  Grass  ...    55           4      False
12  407               Roserade  Grass  ...    90           4      False
13  590                Foongus  Grass  ...    15           5      False
14  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 12 columns]

In [42]:
pk.loc[~pk['Name'].str.contains('Mega')]

       #                 Name     Kind  ... Speed  Generation  Legendary
0      1            Bulbasaur    Grass  ...    45           1      False
1      2              Ivysaur    Grass  ...    60           1      False
2      3             Venusaur    Grass  ...    80           1      False
4      4           Charmander     Fire  ...    65           1      False
5      5           Charmeleon     Fire  ...    80           1      False
..   ...                  ...      ...  ...   ...         ...        ...
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[751 rows x 12 columns]

In [45]:
pk.loc[pk['Sp. Atk']> 66]

       #                   Name     Kind  ... Speed  Generation  Legendary
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
5      5             Charmeleon     Fire  ...    80           1      False
6      6              Charizard     Fire  ...   100           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[389 rows x 12 columns]

In [59]:
pk['Kind'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [61]:
pk.groupby(['Kind']).sum()

              #    HP  Attack  Defense  ...  Sp. Def  Speed  Generation  Legendary
Kind                                    ...
Bug       23080  3925    4897     4880  ...     4471   4256         222          0
Dark      14302  2071    2740     2177  ...     2155   2361         125          2
Dragon    15180  2666    3588     2764  ...     2843   2657         124         12
Electric  15994  2631    3040     2917  ...     3243   3718         144          4
Fairy      7642  1260    1046     1117  ...     1440    826          70          1
Fighting   9824  1886    2613     1780  ...     1747   1784          91          0
Fire      17025  3635    4408     3524  ...     3755   3871         167          5
Flying     2711   283     315      265  ...      290    410          22          2
Ghost     15568  2062    2361     2598  ...     2447   2059         134          2
Grass     24141  4709    5125     4956  ...     4930   4335         235          3
Ground    11401  2361    3064     2715  ...     2008   2045         101          4
Ice       10165  1728    1746     1714  ...     1831   1523          85          2
Normal    31279  7573    7200     5865  ...     6245   7012         299          2
Poison     7050  1883    2091     1927  ...     1803   1780          71          0
Psychic   21706  4026    4073     3858  ...     4918   4645         193         14
Rock      17280  2876    4086     4435  ...     3321   2460         152          4
Steel     11957  1761    2503     3412  ...     2177   1492         104          4
Water     33946  8071    8305     8170  ...     7898   7388         320          4

[18 rows x 9 columns]

In [11]:
print(pk.iloc[1])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

*anlysis data *